/*覆盖bootstrap样式*/
.tips_error {
    background: url("/resource/home/img/tipBg_red.gif") no-repeat 0px;
    margin: -2px 0px 0px 5px;
    padding: 0px 10px 0px 30px;
    height: 27px;
    color: rgb(255, 102, 0);
    line-height: 27px;
    vertical-align: middle;
    border-right-color: rgb(254, 207, 157);
    border-right-width: 2px;
    border-right-style: solid;
    white-space: nowrap;
    position: absolute;
    z-index: 9999;
}
#username{
    display:inline;
    width: 80%;
}
#password{
    display:inline;
    width: 80%;
}
#submit{
    width: 75%;
}